.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 20px;
  border-radius: 50px;
  border: #A9B388 20px double;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.info {
  display: flex;
}

.installation-text {
  margin: 40px;
  width: 50%;
}

.challenges-text {
  margin: 40px;
  width: 50%;
}

.alt-colour {
  color: #A9B388;
}